<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>

    <path key="adminLTE" value="components/AdminLTE/adminLTE" />

    <path key="initLTE" value="components/AdminLTE/initLTE" />

    <path key="ajaxList" value="components/Widgets/ajaxList" />

    <path key="fullcalendar" value="components/Widgets/fullcalendar" />

  </paths>
  <shim>

    <dependencies for="ajaxList" exports="">
      <add dependency="jquery"/>
      <add dependency="bforms-ajax" />
      <add dependency="bforms-select2" />
      <add dependency="jquery-ui-core" />
    </dependencies>

    <dependencies for="fullcalendar" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui-core" />
    </dependencies>

    <dependencies for="adminLTE" exports="">
      <add dependency="jquery"/>
      <add dependency="bootstrap" />
      <add dependency="jquery-ui-core" />
    </dependencies>

    <dependencies for="initLTE" exports="">
      <add dependency="jquery"/>
      <add dependency="bootstrap" />
      <add dependency="jquery-ui-core" />
      <add dependency="adminLTE" />
    </dependencies>

  </shim>
</configuration>